go.jjdev.ar {
  encode gzip zstd

  # Reverse proxy a FastAPI
  reverse_proxy api:8000

  # Headers básicos
  header {
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
    X-Frame-Options "DENY"
  }
}
