# ==========================
# PostgreSQL (container db)
# ==========================
POSTGRES_DB=qrdb
POSTGRES_USER=qruser
POSTGRES_PASSWORD=CAMBIAR_POR_UN_PASSWORD_FUERTE

# SQLAlchemy/SQLModel connection string (desde el container api)
DATABASE_URL=postgresql+psycopg://qruser:CAMBIAR_POR_UN_PASSWORD_FUERTE@db:5432/qrdb

# ==========================
# App
# ==========================
BASE_URL=https://qr.jjdev.ar

# API Key para crear/editar links (admin)
ADMIN_API_KEY=CAMBIAR_POR_UNA_APIKEY_LARGA
